---
layout: default
title: Scoreboard
permalink: /
nav: boxscores
---

{% assign game_data = site.data.games %}
{% assign current_week = "" %}

{% for game in game_data.games %}
  {% if forloop.first == true %}
    {% assign current_week = game.week %}
    <div class="week">
      {{ game.week }} &ndash; {{ game.time | date: "%B %d, %Y" }}
    </div>
    <div class="week-section">
  {% endif %}

  {% if current_week != game.week %}
    <!-- close the section -->
    </div>
    {% assign current_week = game.week %}
    <div class="week">
      {{ game.week }} &ndash; {{ game.time | date: "%B %d, %Y" }}
    </div>
    <div class="week-section">
  {% endif %}

    <div class="card scoreboard p-6">
      <div class="flex items-center justify-between pb-2">
        <img src="{{ site.data.logos[game.away_abbr] }}" class="mini-logo" />
        <h2>{{ game.away_team }}</h2>
        {% if game.away_score > game.home_score %}
          <h3 class="winner">{{ game.away_score }}</h3>
        {% else %}
          <h3>{{ game.away_score }}</h3>
        {% endif %}
      </div>
      <div class="flex items-center justify-between">
          <img src="{{ site.data.logos[game.home_abbr] }}" class="mini-logo" />
        <h2>{{ game.home_team }}</h2>
        {% if game.home_score > game.away_score %}
          <h3 class="winner">{{ game.home_score }}</h3>
        {% else %}
          <h3>{{ game.home_score }}</h3>
        {% endif %}
      </div>
      <div class="flex mt-6">
        <a href="/boxscores/{{game.slug}}" class="btn btn-small">
          Boxscore
        </a>
      </div>

    </div>

    {% if forloop.last == true %}
      <!-- close the section -->
      </div>
    {% endif %}
{% endfor %}
