{% assign nav = page.nav | downcase  %}

<nav class="flex items-center justify-between flex-wrap py-8">
  <div class="flex items-center flex-no-shrink mr-6">
    <a href="/" class="text-red font-semibold text-xl tracking-normal no-underline" title="Advanced CFL Stats and Fantasy Analytics">
      <span class="text-logo-grey">No</span><span class="text-logo-blue">Extra</span><span class="text-logo-blue-dark">Points</span>
    </a>
  </div>
  <ul class="list-reset flex">
    <li class="mr-6">
      <a class="nav-link {% if nav == 'boxscores' %}active{% endif %}" href="/">Boxscores</a>
    </li>
    <li class="mr-6">
      <a class="nav-link {% if nav == 'rosters' %}active{% endif %}" href="/coming-soon">Starting Rosters</a>
    </li>
    <li>
      <a class="nav-link {% if nav == 'projections' %}active{% endif %}" href="/coming-soon">Projections</a>
    </li>
  </ul>
</nav>
