{% assign nav = page.nav | downcase  %}

<nav class="flex items-center justify-between flex-wrap py-6">
  <div class="mr-6">
    <a href="/" class="font-semibold text-3xl tracking-normal no-underline" title="Advanced AAF Stats and Fantasy Analytics">
      <span class="text-grey">No</span><span class="text-blue">Extra</span><span class="text-blue-darker">Points</span>
    </a>
  </div>
  <ul class="list-reset flex">
    <li class="mr-6">
      <a class="nav-link {% if nav == 'boxscores' %}active{% endif %}" href="/">Boxscores</a>
    </li>
    <li class="mr-6">
      <a class="nav-link {% if nav == 'rosters' %}active{% endif %}" href="/rosters">Starting Rosters</a>
    </li>
    <li>
      <a class="nav-link {% if nav == 'projections' %}active{% endif %}" href="/coming-soon">Projections</a>
    </li>
  </ul>
</nav>
