---
layout: default
nav: leaderboards
title: AAF Defensive Leaders
permalink: /leaderboards/defense
---

{% assign leaders = site.data.players.players | sort: "tackles" | reverse %}

<div class="leaderboard">
  <h3 class="team-header aaf-header">AAF Defensive Leaders &ndash; Season</h3>

  <table class="nowrap stripe w-full datatable">
    <thead>
      <tr>
        <th>Player</th>
        <th>TOT</th>
        <th>SOLO</th>
        <th>TFL</th>
        <th>SACKS</th>
        <th>QB HTS</th>
        <th>PD</th>
        <th>INT</th>
        <th>FF</th>
        <th>FUM</th>
      </tr>
    </thead>
    <tbody>
    {% for player in leaders %}
      {% if player.platoon == "DEFENSE" and player.season_stats.tackles %}
        <tr>
          <td>
            <a href="/players/{{ player.slug}}" class="no-underline text-black font-semibold hover:text-blue">
              {{ player.full_name }}
            </a>
            <span class="text-grey text-sm font-normal ml-2">{{ player.position }} - {{ player.team_abbr }}</span>
          </td>
          <td>{{ player.season_stats.tackles }}</td>
          <td>{{ player.season_stats.solo_tackles }}</td>
          <td>{{ player.season_stats.tackles_for_loss }}</td>
          <td>{{ player.season_stats.sacks }}</td>
          <td>{{ player.season_stats.quarterback_hits }}</td>
          <td>{{ player.season_stats.pass_defenses }}</td>
          <td>{{ player.season_stats.interception_returns }}</td>
          <td>{{ player.season_stats.opponent_fumbles_forced }}</td>
          <td>{{ player.season_stats.opponent_fumbles_recovered }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $('table').DataTable({
    autoWidth: false,
    fixedColumns: true,
    scrollX: true,
    scrollY: "600px",
    paging: false,
    searching: true,
    ordering: true,
    info: false,
    order: [[ 1, "desc"]]
  });
</script>
