---
layout: default
nav: leaderboards
title: AAF Fantasy Leaders
permalink: /leaderboards/fantasy
---

{% assign leaders = site.data.players.players | sort: "fantasy_points" | reverse %}

<div class="max-w-full mx-auto bg-white leaderboard">
  <h3 class="team-header aaf-header">AAF Fantasy Leaders &ndash; Season</h3>

  <table class="nowrap stripe w-full datatable">
    <thead>
      <tr>
        <th>Player</th>
        <th>Position</th>
        <th>FPts</th>
        <th>Passing Yds</th>
        <th>Passing TDs</th>
        <th>Passing 2PT</th>
        <th>Rushing Yds</th>
        <th>Rushing TDs</th>
        <th>Rushing 2PT</th>
        <th>Receptions</th>
        <th>Receiving Yds</th>
        <th>Receiving TDs</th>
        <th>Receiving 2PT</th>
      </tr>
    </thead>
    <tbody>
    {% for player in leaders %}
      {% if player.season_stats.fpts > 0 %}
        <tr>
          <td>
            <a href="/players/{{ player.slug}}" class="no-underline text-black font-semibold hover:text-blue">
              {{ player.full_name }}
            </a>
          </td>
          <td>{{ player.position }}</td>
          <td>{{ player.season_stats.fpts }}</td>
          <td>{{ player.season_stats.pass_yards }}</td>
          <td>{{ player.season_stats.pass_td }}</td>
          <td>{{ player.season_stats.passing_2pc }}</td>
          <td>{{ player.season_stats.rush_yards }}</td>
          <td>{{ player.season_stats.rush_td }}</td>
          <td>{{ player.season_stats.rushing_2pc }}</td>
          <td>{{ player.season_stats.catches }}</td>
          <td>{{ player.season_stats.receiving_yards }}</td>
          <td>{{ player.season_stats.receiving_td }}</td>
          <td>{{ player.season_stats.receiving_2pc }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $('table').DataTable({
    autoWidth: false,
    fixedColumns: true,
    scrollX: true,
    scrollY: "600px",
    paging: false,
    searching: true,
    ordering: true,
    info: false,
    order: [[ 2, "desc"]]
  });
</script>
