---
layout: default
nav: leaderboards
title: AAF Statistical Leaders
---

<div class="flex flex-wrap">
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:mr-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Fantasy Points
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.fpts" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.fpts }} FPTs</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/fantasy/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:mx-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Passing Leaders
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.pass_yards" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.pass_yards }} yds</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/passing/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:ml-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Rushing Leaders
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.rush_yards" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.rush_yards }} yds</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/rushing/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:mr-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Receiving Leaders
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.receiving_yards" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.receiving_yards }} yds</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/receiving/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:mx-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Target Leaders
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.targets" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.targets }} targets</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/receiving/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:ml-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Air Yard Leaders
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.receiving_air_yards" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.receiving_air_yards }} yds</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/receiving/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:mr-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Tackle Leaders
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.tackles" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.tackles }} tackles</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/defense/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:mx-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Sack Leaders
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.sacks" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.sacks }} sacks</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/defense/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 mb-6">
    <div class="card md:ml-3">
      <div class="card-header bg-blue-dark border-b-4 border-blue font-medium tracking-wide text-white text-xl">
        Interception Leaders
      </div>
      <ol class="list-reset py-4">
        {% assign leaders = site.data.players.players | sort: "season_stats.interception_returns" | reverse %}

        {% for player in leaders %}
          {% if forloop.index > 5 %}{% break %}{% endif %}
          <li class="flex items-center justify-between">
            <div class="flex-shrink font-mono text-lg mr-2 font-bold">{{ forloop.index }}.</div>
            <div class="flex-shrink jersey jersey-{{ player.team_abbr }} mr-2">{{ player.number }}</div>
            <div class="flex-grow">
              <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue text-lg">
                {{ player.full_name }}
              </a>
            </div>
            <div class="flex-shrink text-grey font-thin">{{ player.season_stats.interception_returns }} INTs</div>
          </li>
        {% endfor %}
      </ol>
      <div class="flex justify-center border-grey-light border-t pt-4">
        <a href="/leaderboards/defense/all" class="text-black font-semibold no-underline hover:text-blue">Complete Leaders</a>
      </div>
    </div>
  </div>
</div>
