---
layout: default
nav: leaderboards
title: AAF Receiving Leaders
permalink: /leaderboards/receiving
---

{% assign leaders = site.data.players.players | sort: "receiving_yards" |
reverse %}

<div class="max-w-full mx-auto">
  <h3 class="team-header aaf-header">AAF Receiving Leaders &ndash; Season</h3>

  <table class="nowrap stripe w-full datatable">
    <thead>
      <tr>
        <th>Player</th>
        <th>Position</th>
        <th>Team</th>
        <th>REC</th>
        <th>TAR</th>
        <th>YDS</th>
        <th>AVG</th>
        <th>LONG</th>
        <th>TD</th>
        <th>2PT</th>
        <th>YDS/GM</th>
        <th>TGT/GM</th>
        <th>YAC</th>
        <th>FPts</th>
      </tr>
    </thead>
    <tbody>
      {% for player in leaders %}
        {% if player.season_stats.targets > 0 %}
        <tr>
          <td>
            <a href="/players/{{ player.slug }}" class="no-underline text-black font-semibold hover:text-blue">
              {{ player.full_name }}
            </a>
          </td>
          <td>{{ player.position }}</td>
          <td>{{ player.team_abbr }}</td>
          <td>{{ player.season_stats.catches }}</td>
          <td>{{ player.season_stats.targets }}</td>
          <td>{{ player.season_stats.receiving_yards }}</td>
          <td>AVG YPC</td>
          <td>{{ player.season_stats.receiving_long }}</td>
          <td>{{ player.season_stats.receiving_td }}</td>
          <td>{{ player.season_stats.receiving_2pc }}</td>
          <td>YD/GM</td>
          <td>TGT/GM</td>
          <td>{{ player.season_stats.yac }}</td>
          <td>{{ player.season_stats.fpts }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $("table").DataTable({
    autoWidth: false,
    fixedColumns: true,
    scrollX: true,
    paging: false,
    searching: false,
    ordering: true,
    info: false,
    order: [[5, "desc"]]
  });
</script>
