---
layout: default
nav: leaderboards
title: AAF Rushing Leaders
permalink: /leaderboards/rushing
---

{% assign leaders = site.data.players.players | sort: "rush_yards" | reverse %}

<div class="leaderboard">
  <h3 class="team-header aaf-header">AAF Rushing Leaders &ndash; Season</h3>

  <table class="nowrap stripe w-full datatable">
    <thead>
      <tr>
        <th>Player</th>
        <th>Position</th>
        <th>Team</th>
        <th>ATT</th>
        <th>YDS</th>
        <th>YDS/A</th>
        <th>LONG</th>
        <th>TD</th>
        <th>2PT</th>
        <th>FUM</th>
        <th>FPts</th>
      </tr>
    </thead>
    <tbody>
    {% for player in leaders %}
      {% if player.season_stats.rush_attempts > 0 %}
        <tr>
          <td>
            <a href="/players/{{ player.slug}}" class="no-underline text-black font-semibold hover:text-blue">
              {{ player.full_name }}
            </a>
          </td>
          <td>{{ player.position }}</td>
          <td>{{ player.team_abbr }}</td>
          <td>{{ player.season_stats.rush_attempts }}</td>
          <td>{{ player.season_stats.rush_yards }}</td>
          <td>{{ player.season_stats.rush_ypc }}</td>
          <td>{{ player.season_stats.rush_long }}</td>
          <td>{{ player.season_stats.rush_td }}</td>
          <td>{{ player.season_stats.rushing_2pc }}</td>
          <td>{{ player.season_stats.fumbles }}</td>
          <td>{{ player.season_stats.fpts }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $('table').DataTable({
    autoWidth: false,
    fixedColumns: true,
    scrollX: true,
    paging: false,
    searching: true,
    ordering: true,
    info: false,
    order: [[ 4, "desc"]]
  });
</script>
