---
layout: default
title: Boxscores
nav: boxscores
---

{% assign game = page %}
{% assign prefixes = "away, home" | split: ", " %}

<div class="card bg-blue-darker bg-topography">
  <div class="week px-4 pb-2">
    {{ game.week }} &ndash; {{ game.time | date: "%B %d, %Y" }}
  </div>

  <div class="flex-col w-full md:w-2/5 scoreboard text-white">
    <div class="flex items-center justify-between pb-2">
      <img src="{{ site.data.logos[game.away_abbr] }}" class="mini-logo" />
      <h2 class="hidden sm:block">{{ game.away_team }}</h2>
      <h2 class="block sm:hidden">{{ game.away_abbr }}</h2>
      {% if game.away_score > game.home_score %}
        <h3 class="winner-dark">{{ game.away_score }}</h3>
      {% else %}
        <h3>{{ game.away_score }}</h3>
      {% endif %}
    </div>
    <div class="flex items-center justify-between">
      <img src="{{ site.data.logos[game.home_abbr] }}" class="mini-logo" />
      <h2 class="hidden sm:block">{{ game.home_team }}</h2>
      <h2 class="block sm:hidden">{{ game.home_abbr }}</h2>
      {% if game.home_score > game.away_score %}
        <h3 class="winner-dark">{{ game.home_score }}</h3>
      {% else %}
        <h3>{{ game.home_score }}</h3>
      {% endif %}
    </div>
  </div>

  <div class="bg-white -mx-4 -mb-4 px-4 pb-8 pt-2 mt-0 border-t-4 border-blue-light">
    <div class="boxscore-row">
      <div class="flex-auto md:flex-1">
        <div class="m-4">
          <h3 class="boxscore-section-title">Boxscore</h3>
          <table class="quarter-table w-full">
            <thead>
              <tr class="text-center border-b-2 pb-2">
                <th></th>
                <th>1st Qtr</th>
                <th>2nd Qtr</th>
                <th>3rd Qtr</th>
                <th>4th Qtr</th>
                <th class="text-black font-bold">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center border-b">
                <td class="font-bold text-{{game.away_abbr}}-secondary">{{ game.away_abbr }}</td>
                <td class="font-mono">{{ game.quarter_scores.away_team["1"] }}</td>
                <td class="font-mono">{{ game.quarter_scores.away_team["2"] }}</td>
                <td class="font-mono">{{ game.quarter_scores.away_team["3"] }}</td>
                <td class="font-mono">{{ game.quarter_scores.away_team["4"] }}</td>
                <td class="font-mono text-black font-bold">{{ game.quarter_scores.away_team.total }}</td>
              </tr>
              <tr class="text-center border-b-2">
                <td class="font-bold text-{{game.home_abbr}}-secondary">{{ game.home_abbr }}</td>
                <td class="font-mono">{{ game.quarter_scores.home_team["1"] }}</td>
                <td class="font-mono">{{ game.quarter_scores.home_team["2"] }}</td>
                <td class="font-mono">{{ game.quarter_scores.home_team["3"] }}</td>
                <td class="font-mono">{{ game.quarter_scores.home_team["4"] }}</td>
                <td class="font-mono text-black font-bold">{{ game.quarter_scores.home_team.total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="m-4">
          <h3 class="boxscore-section-title">Scoring Plays</h3>
          <ol class="list-reset">
          {% for play in game.scoring_plays %}
            <li class="flex p-2 items-center text-sm">
              <span class="w-10 py-1 px-1 rounded text-center text-white bg-{{ play.possession }}-secondary">{{ play.possession }}</span>
              <p class="flex-1 inline-block word-wrap ml-4">
                {% if play.conversion_attempt or play.down == "0th" %}
                  2PT
                {% else%}
                  {{ play.down }} & {{ play.distance }}
                {% endif %}
                | Q{{play.quarter}} | {{ play.description }}
              </p>
            </li>
          </ol>
        {% endfor %}
        </div>
      </div>

      <div class="flex-auto md:flex-1">
        <div class="m-4">
          <h3 class="boxscore-section-title">Head-to-Head Matchup</h3>
          <div class="rounded border">
            <table class="matchup-table w-full">
              <thead class="border-b-2 bg-blue-lightest">
                <tr>
                  <th></th>
                  <th class="w-24 text-{{game.home_abbr}}-secondary">{{ game.home_abbr }}</th>
                  <th class="w-24 text-{{game.away_abbr}}-secondary">{{ game.away_abbr }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1st Downs</td>
                  <td>{{ game.team_stats.home_team.total_first_downs }}</td>
                  <td>{{ game.team_stats.away_team.total_first_downs }}</td>
                </tr>
                <tr class="indent">
                  <td>Passing 1st Downs</td>
                  <td>{{ game.team_stats.home_team.first_downs_by_passing }}</td>
                  <td>{{ game.team_stats.away_team.first_downs_by_passing }}</td>
                </tr>
                <tr class="indent">
                  <td>Rushing 1st Downs</td>
                  <td>{{ game.team_stats.home_team.first_downs_by_rushing }}</td>
                  <td>{{ game.team_stats.away_team.first_downs_by_rushing }}</td>
                </tr>
                <tr class="indent">
                  <td>1st Downs from penalties</td>
                  <td>{{ game.team_stats.home_team.first_downs_by_penalty }}</td>
                  <td>{{ game.team_stats.away_team.first_downs_by_penalty }}</td>
                </tr>
                <tr class="indent">
                  <td>3rd down efficiency</td>
                  <td>{{ game.team_stats.home_team.third_downs_converted }}-{{ game.team_stats.home_team.third_downs }}</td>
                  <td>{{ game.team_stats.away_team.third_downs_converted }}-{{ game.team_stats.away_team.third_downs }}</td>
                </tr>
                <tr class="indent">
                  <td>4th down efficiency</td>
                  <td>{{ game.team_stats.home_team.fourth_downs_converted }}-{{ game.team_stats.home_team.fourth_downs }}</td>
                  <td>{{ game.team_stats.away_team.fourth_downs_converted }}-{{ game.team_stats.away_team.fourth_downs }}</td>
                </tr>
                <tr>
                  <td>Total Plays</td>
                  <td>{{ game.team_stats.home_team.total_plays }}</td>
                  <td>{{ game.team_stats.away_team.total_plays }}</td>
                </tr>
                <tr>
                  <td>Total Yards</td>
                  <td>{{ game.team_stats.home_team.total_yards }}</td>
                  <td>{{ game.team_stats.away_team.total_yards }}</td>
                </tr>
                <tr>
                  <td>Yards Per Play</td>
                  <td>{{ game.team_stats.home_team.average_yards_per_play }}</td>
                  <td>{{ game.team_stats.away_team.average_yards_per_play }}</td>
                </tr>
                <tr>
                  <td>Time of Possession</td>
                  <td>{{ game.team_stats.home_team.time_of_possession }}</td>
                  <td>{{ game.team_stats.away_team.time_of_possession }}</td>
                </tr>
                <tr>
                  <td>Passing</td>
                  <td>{{ game.team_stats.home_team.passing_yards_net }}</td>
                  <td>{{ game.team_stats.away_team.passing_yards_net }}</td>
                </tr>
                <tr class="indent">
                  <td>Comp-Att</td>
                  <td>{{ game.team_stats.home_team.passes_completed }}-{{ game.team_stats.home_team.passes_attempted }}</td>
                  <td>{{ game.team_stats.away_team.passes_completed }}-{{ game.team_stats.away_team.passes_attempted }}</td>
                </tr>
                <tr class="indent">
                  <td>Yards Per Pass</td>
                  <td>{{ game.team_stats.home_team.yards_per_pass }}</td>
                  <td>{{ game.team_stats.away_team.yards_per_pass }}</td>
                </tr>
                <tr class="indent">
                  <td>Sacks-Yards Lost</td>
                  <td>{{ game.team_stats.home_team.times_sacked }}-{{ game.team_stats.home_team.sack_yards_lost }}</td>
                  <td>{{ game.team_stats.away_team.times_sacked }}-{{ game.team_stats.away_team.sack_yards_lost }}</td>
                </tr>
                <tr>
                  <td>Rushing</td>
                  <td>{{ game.team_stats.home_team.rushing_yards_net }}</td>
                  <td>{{ game.team_stats.away_team.rushing_yards_net }}</td>
                </tr>
                <tr class="indent">
                  <td>Rushing Attempts</td>
                  <td>{{ game.team_stats.home_team.rushing_plays }}</td>
                  <td>{{ game.team_stats.away_team.rushing_plays }}</td>
                </tr>
                <tr class="indent">
                  <td>Yards Per Rush</td>
                  <td>{{ game.team_stats.home_team.yards_per_rush }}</td>
                  <td>{{ game.team_stats.away_team.yards_per_rush }}</td>
                </tr>
                <tr>
                  <td>Turnovers</td>
                  <td>{{ game.team_stats.home_team.turnovers }}</td>
                  <td>{{ game.team_stats.away_team.turnovers }}</td>
                </tr>
                <tr class="indent">
                  <td>Fumbles lost</td>
                  <td>{{ game.team_stats.home_team.fumbles }}</td>
                  <td>{{ game.team_stats.away_team.fumbles }}</td>
                </tr>
                <tr class="indent">
                  <td>Interceptions thrown</td>
                  <td>{{ game.team_stats.home_team.passes_intercepted }}</td>
                  <td>{{ game.team_stats.away_team.passes_intercepted }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="boxscore-row">
      {% for prefix in prefixes %}
        {% assign key = prefix | append: "_team" %}
        {% assign color_key = prefix | append: "_abbr" %}
        {% assign team_color = "border-" | append: game[color_key] | append: "-secondary" %}
        <div class="flex-1 px-4">
          <div class="boxscore-section-title {{ team_color }}">{{ game[key] }} &ndash; Passing</div>
          <div class="boxscore-table-wrapper">
            <table class="boxscore-table">
              <thead>
                <tr>
                  <th></th>
                  <th>C/ATT</th>
                  <th>YDS</th>
                  <th>YPA</th>
                  <th>TD</th>
                  <th>INT</th>
                  <th>2PT</th>
                </tr>
              </thead>
              <tbody>
                {% assign key = prefix | append: "_stats" %}
                {% assign passing_stats = game[key] | sort: "pass_yards" | reverse %}

                {% for stats in passing_stats %}
                  {% if stats.pass_attempts > 0 %}
                    <tr>
                      <td class="name">
                        <a href="/players/{{ stats.player.slug }}">{{ stats.player.name }}</a>
                      </td>
                      <td>{{ stats.pass_complete }}/{{ stats.pass_attempts }}</td>
                      <td>{{ stats.pass_yards }}</td>
                      <td>{{ stats.pass_ypa }}</td>
                      <td>{{ stats.pass_td }}</td>
                      <td>{{ stats.interceptions }}</td>
                      <td>{{ stats.passing_2pc }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="boxscore-row">
      {% for prefix in prefixes %}
        {% assign key = prefix | append: "_team" %}
        {% assign color_key = prefix | append: "_abbr" %}
        {% assign team_color = "border-" | append: game[color_key] | append: "-secondary" %}
        <div class="flex-1 px-4">
          <div class="boxscore-section-title {{ team_color }}">{{ game[key] }} &ndash; Rushing</div>
          <div class="boxscore-table-wrapper">
            <table class="boxscore-table">
              <thead>
                <tr>
                  <th></th>
                  <th>CAR</th>
                  <th>YDS</th>
                  <th>YPC</th>
                  <th>LNG</th>
                  <th>TD</th>
                  <th>2PT</th>
                </tr>
              </thead>
              <tbody>
                {% assign key = prefix | append: "_stats" %}
                {% assign rushing_stats = game[key] | sort: "rush_yards" | reverse %}
                {% for stats in rushing_stats %}
                  {% if stats.rush_attempts > 0 %}
                    <tr>
                      <td class="name">
                        <a href="/players/{{ stats.player.slug }}">{{ stats.player.name }}</a>
                      </td>
                      <td>{{ stats.rush_attempts }}</td>
                      <td>{{ stats.rush_yards }}</td>
                      <td>{{ stats.rush_ypc }}</td>
                      <td>{{ stats.rush_long }}</td>
                      <td>{{ stats.rush_td }}</td>
                      <td>{{ stats.rushing_2pc }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="boxscore-row">
      {% for prefix in prefixes %}
        {% assign key = prefix | append: "_team" %}
        {% assign color_key = prefix | append: "_abbr" %}
        {% assign team_color = "border-" | append: game[color_key] | append: "-secondary" %}
        <div class="flex-1 px-4">
          <div class="boxscore-section-title {{ team_color }}">
            {{ game[key] }} &ndash; Receiving
          </div>
          <div class="boxscore-table-wrapper">
            <table class="boxscore-table">
              <thead>
                <tr>
                  <th></th>
                  <th>REC</th>
                  <th>TGTS</th>
                  <th>YDS</th>
                  <th>LNG</th>
                  <th>YAC</th>
                  <th>TD</th>
                  <th>2PT</th>
                </tr>
              </thead>
              <tbody>
                {% assign key = prefix | append: "_stats" %}
                {% assign receiving_stats = game[key] | sort: "receiving_yards" | reverse %}
                {% for stats in receiving_stats %}
                  {% if stats.targets > 0 or stats.catches > 0 %}
                    <tr>
                      <td class="name">
                        <a href="/players/{{ stats.player.slug }}">{{ stats.player.name}}</a>
                      </td>
                      <td>{{ stats.catches }}</td>
                      <td>{{ stats.targets }}</td>
                      <td>{{ stats.receiving_yards }}</td>
                      <td>{{ stats.receiving_long }}</td>
                      <td>{{ stats.yac }}</td>
                      <td>{{ stats.receiving_td }}</td>
                      <td>{{ stats.receiving_2pc }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="boxscore-row overflow-x-scroll md:overflow-x-auto">
      {% for prefix in prefixes %}
        {% assign key = prefix | append: "_team" %}
        {% assign color_key = prefix | append: "_abbr" %}
        {% assign team_color ="border-" | append: game[color_key] | append: "-secondary" %}
        <div class="flex-1 px-4">
          <div class="boxscore-section-title {{ team_color }}">{{ game[key] }} &ndash; Defense</div>
          <div class="boxscore-table-wrapper">
            <table class="boxscore-table">
              <thead>
                <tr class="sub-header">
                  <th></th>
                  <th colspan="5">Tackles</th>
                  <th colspan="4">Misc</th>
                </tr>
                <tr>
                  <th></th>
                  <th>TOT</th>
                  <th>SOLO</th>
                  <th>TFL</th>
                  <th>SACKS</th>
                  <th class="divider">QB HTS</th>
                  <th>PD</th>
                  <th>INT</th>
                  <th>FF</th>
                  <th>FUM</th>
                </tr>
              </thead>
              <tbody>
                {% assign key = prefix | append: "_stats" %}
                {% assign d_stats = game[key] | sort: "tackles" | reverse %}
                {% for stats in d_stats %}
                  {% if stats.tackles > 0 or stats.pass_defenses > 0 or stats.sacks > 0%}
                    <tr>
                      <td class="name">{{ stats.player.name }}</td>
                      <td>{{ stats.tackles }}</td>
                      <td>{{ stats.solo_tackles }}</td>
                      <td>{{ stats.tackles_for_loss }}</td>
                      <td>{{ stats.sacks }}</td>
                      <td class="divider">{{ stats.quarterback_hits }}</td>
                      <td>{{ stats.pass_defenses }}</td>
                      <td>{{ stats.interception_returns }}</td>
                      <td>{{ stats.opponent_fumbles_forced }}</td>
                      <td>{{ stats.opponent_fumbles_recovered }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="boxscore-row">
      {% for prefix in prefixes %}
        {% assign key = prefix | append: "_team" %}
        {% assign color_key = prefix | append: "_abbr" %}
        {% assign team_color ="border-" | append: game[color_key] | append: "-secondary" %}
        <div class="flex-1 px-4">
          <div class="boxscore-section-title {{ team_color }}">{{ game[key] }} &ndash; Kicking</div>
          <div class="boxscore-table-wrapper">
            <table class="boxscore-table">
              <thead>
                <tr>
                  <th></th>
                  <th>FG</th>
                  <th>LONG</th>
                  <th>BLOCKED</th>
                  <th>PTS</th>
                </tr>
              </thead>
              <tbody>
                {% assign key = prefix | append: "_stats" %}
                {% assign k_any = false %}
                {% assign k_stats = game[key] | sort: "field_goals_attempted" | reverse %}
                {% for stats in k_stats %}
                  {% if stats.field_goals_attempted > 0 %}
                    {% assign k_any = true %}
                    <tr>
                      <td class="name">
                        {{ stats.player.name }}
                      </td>
                      <td>
                        {{ stats.field_goals_made }} /
                        {{ stats.field_goals_attempted }}
                      </td>
                      <td>{{ stats.field_goals_longest_made }}</td>
                      <td>{{ stats.field_goals_blocked }}</td>
                      <td>{{ stats.field_goals_made | times: 3 }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}

                {% if k_any == false %}
                   <td class="name divider">
                    No kicks
                  </td>
                  <td>&ndash;</td>
                  <td>&ndash;</td>
                  <td>&ndash;</td>
                  <td>&ndash;</td>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="boxscore-row">
      {% for prefix in prefixes %}
        {% assign key = prefix | append: "_team" %}
        {% assign color_key = prefix | append: "_abbr" %}
        {% assign team_color ="border-" | append: game[color_key] | append: "-secondary" %}
        <div class="flex-1 px-4">
          <div class="boxscore-section-title {{ team_color }}">{{ game[key] }} &ndash; Punting</div>
          <div class="boxscore-table-wrapper">
            <table class="boxscore-table">
              <thead>
                <tr>
                  <th></th>
                  <th>NO</th>
                  <th>YDS</th>
                  <th>YDS NET</th>
                  <th>LNG</th>
                </tr>
              </thead>
              <tbody>
                {% assign key = prefix | append: "_stats" %}
                {% assign k_stats = game[key] | sort: "punts_attempted" | reverse %}
                {% for stats in k_stats %}
                  {% if stats.punts_attempted > 0 %}
                    <tr>
                      <td class="name">
                        {{ stats.player.name }}
                      </td>
                      <td>{{ stats.punts_attempted }}</td>
                      <td>{{ stats.punting_yards }}</td>
                      <td>{{ stats.punting_yards_net }}</td>
                      <td>{{ stats.punting_longest_kick }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="px-4">
      <h3>Full Play-by-Play</h3>
      <ul class="list-reset mt-4 text-sm">
        {% for play in game.play_by_play %}
          <li class="flex p-2 items-center">
            <span class="w-12 py-2 px-1 rounded text-center text-white bg-{{ play.possession }}-secondary">{{ play.possession }}</span>
            <p class="flex-1 inline-block word-wrap ml-4">
              {% if play.conversion_attempt or play.down == "0th" %}
                2PT
              {% else%}
                {{ play.down }} & {{ play.distance }}
              {% endif %}
               | Q{{play.quarter}} | {{ play.description }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
