---
layout: default
title: Player
nav: players
---

{% assign player = page %}

<div class="flex flex-wrap justify-between items-center mb-2">
  <div class="flex items-center mb-4">
    <div class="jersey jersey-big jersey-{{ player.team_abbr }}">
      {{ player.number }}
    </div>
    <div class="ml-4">
      <h1>{{ player.full_name }}</h1>
      <div class="flex items-center text-grey-dark mt-1 text-lg">
        <div>{{ player.position }}</div>
        <span class="px-2">&middot;</span>
        <div>{{ player.team }}</div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto text-sm">
    <div class="flex items-baseline mb-1">
      <div class="w-16 text-right px-2 text-2xs uppercase text-grey-dark font-semibold">
        Height
      </div>
      <div class="text-left px-2">{{ player.height }}</div>
    </div>
    <div class="flex items-baseline mb-1">
      <div class="w-16 text-right px-2 text-2xs uppercase text-grey-dark font-semibold">
        Weight
      </div>
      <div class="text-left px-2">{{ player.weight }} lbs</div>
    </div>
    <div class="flex items-baseline">
      <div class="w-16 text-right px-2 text-2xs uppercase text-grey-dark font-semibold">
        Status
      </div>
      <div class="text-left px-2">{{ player.status }}</div>
    </div>
  </div>
</div>

{% if player.platoon == "OFFENSE" %}
  <div class="card mt-4 season-summary">
    <div class="card-header text-white bg-{{ player.team_abbr }} border-b-4 border-{{ player.team_abbr }}-secondary">
      <h2 class="text-white px-1 font-light tracking-wide">Season Stats</h2>
    </div>
    <div class="bg-white -mx-4 px-4 py-4 -mb-4">
      {% if player.season_stats.pass_attempts > 0 %}
        <div class="mb-10">
          <h3 class="title">Passing</h3>
          <div class="flex flex-wrap justify-between items-center">
            <div class="w-1/2 md:w-1/4 flex-col py-4">
              <div class="stat">{{ player.season_stats.completion_percentage }}%</div>
              <h4>Completion %</h4>
            </div>
            <div class="w-1/2 md:w-1/4">
              <div class="stat">{{ player.season_stats.pass_yards }}</div>
              <h4>Yards</h4>
            </div>
            <div class="w-1/2 md:w-1/4">
              <div class="stat">
                {{ player.season_stats.pass_td }}
                <span class="text-lg">({{ player.season_stats.passing_2pc }})</span>
              </div>
              <h4>TD (2PT)</h4>
            </div>
            <div class="w-1/2 md:w-1/4">
              <div class="stat">{{ player.season_stats.interceptions }}</div>
              <h4>INT</h4>
            </div>
          </div>
        </div>
      {% endif %}
      {% if player.season_stats.rush_attempts > 0 %}
        <div class="mb-10">
          <h3 class="title">Rushing</h3>
          <div class="flex flex-wrap justify-between items-center">
            <div class="w-1/2 md:w-1/4 flex-col py-4">
              <div class="stat">{{ player.season_stats.rush_attempts }}</div>
              <h4>Carries</h4>
            </div>
            <div class="w-1/2 md:w-1/4">
              <div class="stat">{{ player.season_stats.rush_yards }}</div>
              <h4>Yards</h4>
            </div>
            <div class="w-1/2 md:w-1/4">
              <div class="stat">
                {{ player.season_stats.rush_td }}
                <span class="text-lg">({{ player.season_stats.rushing_2pc }})</span>
              </div>
              <h4>TD (2PT)</h4>
            </div>
            <div class="w-1/2 md:w-1/4">
              <div class="stat">{{ player.season_stats.fumbles }}</div>
              <h4>Fumbles</h4>
            </div>
          </div>
        </div>
      {% endif %}
      {% if player.season_stats.targets > 0 %}
        <div class="mb-10">
          <h3 class="title">Receiving</h3>
          <div class="flex flex-wrap justify-between items-center">
            <div class="w-1/2 md:w-1/4">
              <div class="stat">{{ player.season_stats.catches }}</div>
              <h4>Catches</h4>
            </div>
            <div class="w-1/2 md:w-1/4">
              <div class="stat">{{ player.season_stats.receiving_yards }}</div>
              <h4>Yards</h4>
            </div>
            <div class="w-1/2 md:w-1/4">
              <div class="stat">
                {{ player.season_stats.receiving_td }}
                <span class="text-lg">({{ player.season_stats.receiving_2pc }})</span>
              </div>
              <h4>TD (2PT)</h4>
            </div>
            <div class="w-1/2 md:w-1/4 flex-col py-4">
              <div class="stat">{{ player.season_stats.targets }}</div>
              <h4>Targets</h4>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header text-white bg-{{ player.team_abbr }} border-b-4 border-{{ player.team_abbr }}-secondary">
      <h2 class="text-white px-1 font-light tracking-wide">Game Logs</h2>
    </div>
    <div class="bg-white -mx-4 px-4 py-4 -mb-4">
      <table class="boxscore-table table-auto">
        <thead>
          <tr class="sub-header hide-mobile">
            <th class="game"></th>
            {% if player.position == "QB" %}
              <th colspan="6">Passing</th>
            {% endif %}
            {% if player.position == "QB" or player.position == "RB" %}
              <th colspan="7">Rushing</th>
            {% endif %}
            {% if player.position == "WR" or player.position == "RB" or player.position == "TE" %}
              <th colspan="8">Receiving</th>
            {% endif %}
            <th colspan="2">Fantasy</th>
          </tr>
          <tr>
            <th class="game">Game</th>
            {% if player.position == "QB" %}
              <th>C/ATT</th>
              <th>YDS</th>
              <th class="hide-mobile">YPA</th>
              <th>TD</th>
              <th>INT</th>
              <th class="divider">2PT</th>
            {% endif %}
            {% if player.position == "QB" or player.position == "RB"%}
              <th>CAR</th>
              <th>YDS</th>
              <th class="hide-mobile">YPC</th>
              <th class="hide-mobile">LNG</th>
              <th>TD</th>
              <th>FUM</th>
              <th class="divider">2PT</th>
            {% endif %}
            {% if player.position == "WR" or player.position == "RB" or player.position == "TE" %}
              <th>REC</th>
              <th class="hide-mobile">TGTS</th>
              <th>YDS</th>
              <th class="hide-mobile">LNG</th>
              <th class="hide-mobile">AIR YD</th>
              <th class="hide-mobile">YAC</th>
              <th>TD</th>
              <th class="divider">2PT</th>
            {% endif %}
            <th class="hide-mobile">SALARY</th>
            <th>FPTS</th>
          </tr>
        </thead>
        <tbody>
          {% for stats in player.game_logs %}
            <tr>
              <td class="game">
                <div class="flex flex-wrap">
                  <a href="/boxscores/{{ stats.game_link }}" class="mr-2">{{
                    stats.week
                  }}</a>
                  <span class="text-grey-dark">{{ stats.game }}</span>
                </div>
              </td>
              {% if player.position == "QB" %}
                <td>{{ stats.pass_complete }}/{{ stats.pass_attempts }}</td>
                <td>{{ stats.pass_yards }}</td>
                <td class="hide-mobile">{{ stats.pass_ypa }}</td>
                <td>{{ stats.pass_td }}</td>
                <td>{{ stats.interceptions }}</td>
                <td class="divider">{{ stats.passing_2pc }}</td>
              {% endif %}
              {% if player.position == "QB" or player.position == "RB" %}
                <td>{{ stats.rush_attempts }}</td>
                <td>{{ stats.rush_yards }}</td>
                <td class="hide-mobile">{{ stats.rush_ypc }}</td>
                <td class="hide-mobile">{{ stats.rush_long }}</td>
                <td>{{ stats.rush_td }}</td>
                <td>{{ stats.fumbles }}</td>
                <td class="divider">{{ stats.rushing_2pc }}</td>
              {% endif %}
              {% if player.position == "WR" or player.position == "RB" or player.position == "TE" %}
                <td>{{ stats.catches }}</td>
                <td class="hide-mobile">{{ stats.targets }}</td>
                <td>{{ stats.receiving_yards }}</td>
                <td class="hide-mobile">{{ stats.receiving_long }}</td>
                <td class="hide-mobile">{{ stats.receiving_air_yards }}</td>
                <td class="hide-mobile">{{ stats.yac }}</td>
                <td>{{ stats.receiving_td }}</td>
                <td class="divider">{{ stats.receiving_2pc }}</td>
              {% endif %}
              <td class="hide-mobile">${{ stats.salary }}</td>
              <td>{{ stats.fpts }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% else %}
  <div class="card mt-4">
    <div class="card-header text-white bg-{{ player.team_abbr }} border-b-4 border-{{ player.team_abbr }}-secondary">
      <h2 class="text-white px-1 font-light tracking-wide">Game Logs</h2>
    </div>
    <div class="bg-white -mx-4 px-4 py-4 -mb-4">
      <table class="boxscore-table table-auto">
        <thead>
          <tr class="sub-header hide-mobile">
            <th class="game"></th>
            <th colspan="5">Tackles</th>
            <th colspan="4">Misc</th>
          </tr>
          <tr>
            <th class="game">Game</th>
            <th>TOT</th>
            <th>SOLO</th>
            <th>TFL</th>
            <th>SACKS</th>
            <th class="divider">QB HITS</th>
            <th>PD</th>
            <th>INT</th>
            <th>FF</th>
            <th>FUM</th>
          </tr>
        </thead>
        <tbody>
          {% for stats in player.game_logs %}
            <tr>
              <td class="game">
                <div class="flex flex-wrap">
                  <a href="/boxscores/{{ stats.game_link }}" class="mr-2">{{ stats.week}}</a>
                  <span class="text-grey-dark">{{ stats.game }}</span>
                </div>
              </td>
              <td>{{ stats.tackles }}</td>
              <td>{{ stats.solo_tackles }}</td>
              <td>{{ stats.tackles_for_loss }}</td>
              <td>{{ stats.sacks }}</td>
              <td class="divider">{{ stats.quarterback_hits }}</td>
              <td>{{ stats.pass_defenses }}</td>
              <td>{{ stats.interception_returns }}</td>
              <td>{{ stats.opponent_fumbles_forced }}</td>
              <td>{{ stats.opponent_fumbles_recovered }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}

{% if player.biography or player.college_history.size > 0%}
  <div class="card mt-4">
    <div class="card-header text-white bg-{{ player.team_abbr }} border-b-4 border-{{ player.team_abbr }}-secondary">
      <h2 class="text-white px-1 font-light tracking-wide">Biography</h2>
    </div>
    <div class="bg-white -mx-4 px-4 py-4 -mb-4">
      <p class="leading-loose">
        {{ player.biography | newline_to_br }}
        {% if player.college_history.size > 0 %}
          <div class="font-bold my-4">College History</div>
          <ul class="list-reset">
          {% for season in player.college_history %}
            <li class="my-4">
              {{ season.year }}: {{ season.teams | map: "name" }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </p>
    </div>
  </div>
{% endif %}
