---
layout: default
title: Player
nav: players
---

{% assign player = page %}

<div class="flex flex-wrap justify-between items-center mb-2">
  <div class="flex items-center mb-4">
    <div class="jersey jersey-big jersey-{{ player.team_abbr }}">
      {{ player.number }}
    </div>
    <div class="ml-4">
      <h1>{{ player.full_name }}</h1>
      <div class="flex items-center text-grey-dark mt-1 text-lg">
        <div>{{ player.position }}</div>
        <span class="px-2">&middot;</span>
        <div>{{ player.team }}</div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto text-sm">
    <div class="flex items-baseline mb-1">
      <div class="w-16 text-right px-2 text-2xs uppercase text-grey-dark font-semibold">
        Height
      </div>
      <div class="text-left px-2">{{ player.height }}</div>
    </div>
    <div class="flex items-baseline mb-1">
      <div class="w-16 text-right px-2 text-2xs uppercase text-grey-dark font-semibold">
        Weight
      </div>
      <div class="text-left px-2">{{ player.weight }} lbs</div>
    </div>
    <div class="flex items-baseline">
      <div class="w-16 text-right px-2 text-2xs uppercase text-grey-dark font-semibold">
        Status
      </div>
      <div class="text-left px-2">{{ player.status }}</div>
    </div>
  </div>
</div>

<div class="card mt-4 bg-{{ player.team_abbr }}">
  <h2 class="text-white px-1 pb-4">Game Logs</h2>
  <div class="bg-white -mx-4 px-4 py-4 -mb-4">
    <table class="boxscore-table table-auto">
      <thead>
        <tr class="sub-header hide-mobile">
          <th class="game"></th>
          {% if player.position == "QB" %}
            <th colspan="6">Passing</th>
          {% endif %}
          {% if player.position == "QB" or player.position == "RB" %}
            <th colspan="6">Rushing</th>
          {% endif %}
          {% if player.position == "WR" or player.position == "RB" or player.position == "TE" %}
            <th colspan="6">Receiving</th>
          {% endif %}
          <th colspan="2">Fantasy</th>
        </tr>
        <tr>
          <th class="game">Game</th>
          {% if player.position == "QB" %}
            <th>C/ATT</th>
            <th>YDS</th>
            <th class="hide-mobile">YPA</th>
            <th>TD</th>
            <th>INT</th>
            <th class="divider">2PT</th>
          {% endif %}
          {% if player.position == "QB" or player.position == "RB"%}
            <th>CAR</th>
            <th>YDS</th>
            <th class="hide-mobile">YPC</th>
            <th class="hide-mobile">LNG</th>
            <th>TD</th>
            <th class="divider">2PT</th>
          {% endif %}
          {% if player.position == "WR" or player.position == "RB" or player.position == "TE" %}
            <th>REC</th>
            <th class="hide-mobile">TGTS</th>
            <th>YDS</th>
            <th class="hide-mobile">LNG</th>
            <th>TD</th>
            <th class="divider">2PT</th>
          {% endif %}
          <th class="hide-mobile">SALARY</th>
          <th>FPTS</th>
        </tr>
      </thead>
      <tbody>
        {% for stats in player.game_logs %}
          <tr>
            <td class="game">
              <div class="flex flex-wrap">
                <a href="/boxscores/{{ stats.game_link }}" class="mr-2">{{
                  stats.week
                }}</a>
                <span class="text-grey-dark">{{ stats.game }}</span>
              </div>
            </td>
            {% if player.position == "QB" %}
              <td>{{ stats.pass_complete }}/{{ stats.pass_attempts }}</td>
              <td>{{ stats.pass_yards }}</td>
              <td class="hide-mobile">{{ stats.pass_ypa }}</td>
              <td>{{ stats.pass_td }}</td>
              <td>{{ stats.interceptions }}</td>
              <td class="divider">{{ stats.passing_2pc }}</td>
            {% endif %}
            {% if player.position == "WR" or player.position == "RB" %}
              <td>{{ stats.rush_attempts }}</td>
              <td>{{ stats.rush_yards }}</td>
              <td class="hide-mobile">{{ stats.rush_ypc }}</td>
              <td class="hide-mobile">{{ stats.rush_long }}</td>
              <td>{{ stats.rush_td }}</td>
              <td class="divider">{{ stats.rushing_2pc }}</td>
            {% endif %}
            {% if player.position == "WR" or player.position == "RB" or player.position == "TE" %}
              <td>{{ stats.catches }}</td>
              <td class="hide-mobile">{{ stats.targets }}</td>
              <td>{{ stats.receiving_yards }}</td>
              <td class="hide-mobile">{{ stats.receiving_long }}</td>
              <td>{{ stats.receiving_td }}</td>
              <td class="divider">{{ stats.receiving_2pc }}</td>
            {% endif %}
            <td class="hide-mobile">&mdash;</td>
            <td>{{ stats.fpts }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
