---
layout: default
nav: articles
---

<div class="article max-w-md">
  <h1>{{ page.title }}</h1>
  {% if page.author %}
    <div class="text-lg text-grey-dark pt-4 pb-8">
      {{ page.author }}
      (<a class="no-underline text-blue-dark border-b-2 border-dotted border-blue-dark hover:text-blue hover:border-blue" href="https://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a>)
    </div>
  {% endif %}

  <div class="markdown border-b border-grey pb-12 mb-12">
    {{ content }}
  </div>
  <div class="italics bg-blue-light rounded p-4 mt-6 text-blue-lightest leading-normal">
    <p>Thanks for reading! If you got value from this content, please consider sharing it or following <a class="text-white font-bold" href="https://twitter.com/NoExtraPoints">@NoExtraPoints</a> on Twitter.</p>
  </div>
</div>
