---
layout: default
nav: projections
---

{% assign projections = site.data.raw_projections[page.week] | sort: "projection" | reverse %}

<div class="card">
  <h1 class="text-left text-xl">{{ page.title }}</h1>

  <div class="max-w-sm">
    <div class="italics bg-blue-light rounded p-4 my-4 text-blue-lightest leading-normal">
      <p class="text-left">
        {% if page.week == "week-08" %}
          Weekly AAF Fantasy projections provided by Matthew M Stevens
          (<a class="no-underline text-white border-b border-white border-dotted font-bold" href="https://twitter.com/stevens_mms">@stevens_mms</a>)
        {% else %}
          Weekly AAF Fantasy projections provided by Anders Eagleson
          (<a class="no-underline text-white border-b border-white border-dotted font-bold" href="https://twitter.com/AndersEagleson">@AndersEagleson</a>)
        {% endif %}
      </p>
      <p class="mt-4 text-left text-xs">
        Projections are based on player usage, efficiency, Vegas totals, market share, and other secret sauce.
      </p>
    </div>

    <table id="projections" class="boxscore-table w-full">
      <thead>
        <tr>
          <th class="name">Player Name</th>
          <th>Position</th>
          <th>Team</th>
          <th>Fanball Salary</th>
          <th>Projected FPts</th>
        </tr>
      </thead>
      <tbody>
        {% for projection in projections %}
          <tr>
            <td class="name">{{ projection.name }}</td>
            <td>{{ projection.position }}</td>
            <td>{{ projection.team }}</td>
            <td>${{ projection.fb_salary }}</td>
            <td>{{ projection.projection | round: 1 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#projections').DataTable({
    fixedColumns: true,
    scrollX: true,
    paging: false,
    searching: false,
    ordering: true,
    info: false,
    order: [[ 4, "desc"]]
  });
</script>
