<table class="nowrap stripe w-full datatable">
  <thead>
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Punts</th>
      <th>Punting Yards</th>
      <th>Net Yards</th>
      <th>Long</th>
    </tr>
  </thead>
  <tbody>
  {% assign leaders = site.data.players.players | sort: "punts_attempted" | reverse %}
  {% if page.week == "all" %}
    {% for player in leaders %}
      {% if player.season_stats.punts_attempted > 0 %}
        <tr>
          <td>
            <a href="/players/{{ player.slug}}" class="no-underline text-black font-semibold hover:text-blue">
              {{ player.full_name }}
            </a>
          </td>
          <td>{{ player.team_abbr }}</td>
          <td>{{ player.season_stats.punts_attempted }}</td>
          <td>{{ player.season_stats.punting_yards }}</td>
          <td>{{ player.season_stats.punting_yards_net }}%</td>
          <td>{{ player.season_stats.punting_longest_kick }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  {% else %}
    {% for player in leaders %}
      {% for gamelog in player.game_logs %}
        {% if gamelog.week_num != page.week %}{% continue %}{% endif %}

        {% if gamelog.punts_attempted > 0 %}
          <tr>
            <td>
              <a href="/players/{{ player.slug}}" class="no-underline text-black font-semibold hover:text-blue">
                {{ player.full_name }}
              </a>
            </td>
            <td>{{ player.team_abbr }}</td>
            <td>{{ gamelog.punts_attempted }}</td>
            <td>{{ gamelog.punting_yards }}</td>
            <td>{{ gamelog.punting_yards_net }}</td>
            <td>{{ gamelog.punting_longest_kick }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
  </tbody>
</table>


<script>
  $('table').DataTable({
    autoWidth: false,
    fixedColumns: true,
    scrollX: true,
    scrollY: "600px",
    paging: false,
    searching: true,
    ordering: true,
    info: false,
    order: [[ 4, "desc"]],
    dom: "iptl<'datatable-actions'fB>",
    buttons: ['csv']
  });
</script>
